/* Variáveis de Cores */
:root {
    --primary-color: #007BFF;
    --secondary-color: #333;
    --background-color: #f4f4f4;
    --text-color: #333;
    --link-color: white;
    --hover-link-color: #ddd;
}

/* Estilo Geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.container {
    width: 70%;
    margin: auto;
    overflow: hidden;
}

/* Estilos do Header */
header {
    background: var(--primary-color);
    color: var(--link-color);
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    text-align: center;
}

/* Navegação */
nav {
    text-align: center;
    margin-top: 10px;
}

nav p {
    margin: 0;
}

nav a {
    color: var(--link-color);
    text-decoration: none;
    padding: 10px 15px;
    transition: background 0.3s;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.2);
    text-decoration: underline;
}

/* Estilo do Main */
main {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h2 {
    color: var(--text-color);
}

/* Estilos do Footer */
footer {
    text-align: center;
    padding: 10px 0;
    background: var(--secondary-color);
    color: var(--link-color);
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    nav {
        text-align: left;
    }

    nav a {
        padding: 10px;
        display: inline-block;
        margin: 0 5px;
    }
}